<app-header></app-header>
<div class="max-w-screen-lg mx-auto">
  <div *ngIf="isStandAlone" class="bg-surface p-2 mx-6">
    <p class="m-0">Mode standalone</p>
  </div>
  <div class="bg-surface text-center p-2 mx-6 mb-4" *ngIf="(applicationInstallable$ | async)">
    <p class="text-lg mb-4 m-0"> Access angular pwa offline using our web app</p>
    <button (click)="installApp()" class="bg-green text-black py-2 px-8 rounded">Install</button>
  </div>
  <div class="bg-surface text-center p-2 mx-6" >
    <p class="text-lg mb-4 m-0"> Notifications on your device to get breaking updates about this</p>
    <button *ngIf="!(statusPermission$ | async); else btnSend" (click)="getNotifications()" class="bg-primary text-black py-2 px-8 rounded">Get Notifications</button>
    <ng-template #btnSend>
      <button (click)="sendNotification()" class="bg-primary text-black py-2 px-8 rounded">Send Notification</button>
    </ng-template>
  </div>
  <div *ngIf="!(applicationOnline$ |  async)" class="bg-red  mx-6 text-center p-2 mt-4"><p class="m-0">You are offline </p></div>
  <div class="mt-8">
    <router-outlet></router-outlet>
  </div>
</div>
<app-footer></app-footer>
