/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'tailwindcss/screens';

:root {
  --transparent: transparent;
  --black: black;
  --primary: #f1ca3c;
  --primary_variant: #ffe2a9;
  --on_primary: white;
  --background: #0d1117;
  --on_background: rgba(255, 255, 255, 0.8);
  --surface: #171c23;
  --on_surface: white;
  --red: #b03c28;
  --green: #25e1a8;
  --blue: #1e5aff;
  --yellow: #ffdd00;
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--background);
  color: var(--on_background);
}

::selection {
  background-color: var(--green); /* fallback for old browsers */
  color: black;
}

h1,
h2,
h3 {
  @apply font-serif;
}
h1 {
  @apply text-3xl font-semibold mb-6 leading-tight;
  @screen lg {
    @apply text-5xl mb-4;
  }
}
h2 {
  @apply text-2xl font-semibold mb-6 leading-tight;
  @screen lg {
    @apply text-4xl mb-4;
  }
}
h3 {
  @apply text-xl font-semibold mb-6 leading-tight;
  @screen lg {
    @apply text-3xl mb-4;
  }
}
ul {
  @apply list-disc list-outside pl-5;
}
ol {
  @apply list-decimal list-outside pl-5;
}
table {
  @apply table-auto mb-8;
}
td,
th {
  @apply border px-4 py-2;
}
p {
  @apply my-2;
}
a:hover {
  @apply text-primary;
}
blockquote {
  @apply pl-6 leading-normal;
  border-left: 3px solid var(--primary);
}
